/*
* Font Size
* Our Root font size is 16px;
*/

// Font Family
$primary-font: 'Henderson BCG Sans';

// Color Variables
$primary-color: #167400;
$secondary-color: #323232;
$default-color: #000000;

$green-1-color: #2AA70C;

// Screen Resolution Variables
$mobile-min: 320px;
$mobile-max: 767px;

$tab-min: 768px;
$tab-max: 1100px;

$dekstop: 1101px;
$large-monitor: 1920px;