.demo-wrapper {
  height: 300px !important;
  border: 1px solid #2aa70c;
  border-radius: 8px;
  background-color: white;
  margin: 5px 0 20px;
}

.demo-editor {
  height: calc(100% - 98px) !important;
  padding: 1rem;
  margin-bottom: 10px;
}

.rdw-editor-toolbar {
  border-radius: 20px;
}
